/**RIVEDERE E ORDINARE**/

body {
    height: 100vh;
    background-image: linear-gradient(
      to bottom,
      #00bfa5 15%,
      #f0f0f0 15%,
      #f0f0f0 100%
    );
  }

.wrapper {
      height: 95vh;
}

.section-height {
    height: 70px;
}

.img-avatar {
    height: 100%;
    max-width: 100%;
    border-radius: 50%;
}

#main-chat {     
    background-image: url("../img/mine.jpg");
}

/* BACKGROUND COLOR  */
.bg-grey {
    background-color: rgb(234,234,234);
}

.bg-sky {
    background-color: rgb(142, 218, 525);
}

.sent {
    
    background-color: rgb(213, 249, 186);
}

.received {
    background-color: rgb(255,255,255);
     
}

/* CONTACTS  */
.contact {
    border-bottom: 0.5px solid rgb(234,234,234);
    width: 100%;
}

.contact:hover {
    background-color: rgb(233, 235, 235);
}


/* ICONS  */

.icons-sky {
    color: rgb(142, 218, 525);
}



/* CHAT-MESSAGES */
.message {
    border-radius: 8px;
    width: 300px;
    min-height: 50px;
    padding-left: 10px;
}



#user-info {
    height: 70px;
}

#icon-rounded {
    height: 50px;
    width: 50px;
}

#notifications {
    height: 80px;
}

header, footer {
    height: 70px;
}