/**OVVIAMENTE MODIFICARE BODY**/

.bg-grad {
    height: 100vh;
    background-image:
    linear-gradient(
      to bottom, 
      rgb(0,150,136), 25%,
      rgb(219,220,212) 15%,
      rgb(219,220,212) 85%,
      rgb(219,220,212) 85%
    );
}
  
.container {
    height: 700px;
    overflow: hidden;
} 


/* COL */
.left-col {
    height: 700px;
}

.right-col {
    background-image: url("../img/mine.jpg")
}

.dunno {
    height: 70px;
}

.bg-grey {
    background-color: rgb(234,234,234);
}

