/**OVVIAMENTE MODIFICARE BODY**/

.bg-grad {
    height: 100vh;
    background-image:
    linear-gradient(
      to bottom, 
      rgb(0,150,136), 25%,
      rgb(219,220,212) 15%,
      rgb(219,220,212) 85%,
      rgb(219,220,212) 85%
    );
}
  
.container {
    height: 700px;
} 


/* COL */
.left-col {
    height: 700px;
    background-color: rgb(255, 255, 255);
}

.right-col {
    background-image: url("../img/mine.jpg")
}

.dunno {
    height: 70px;
}

/* BACKGROUND COLOR  */
.bg-grey {
    background-color: rgb(234,234,234);
}

.bg-sky {
    background-color: rgb(142, 218, 525);
}

.bg-hover {
    background-color: rgb(233, 235, 235);
}

/* ICONS  */
.icons-grey {
    color: rgb(177, 177, 177);
    font-size: 20px;
}


img {
    width: 50px;
    border-radius: 50%;
}